<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>CachyOS DMS Gamescope</vendor>
  <vendor_url>https://github.com/mattbudde/cachyos-dms-gamescope</vendor_url>

  <action id="org.cachyos.gamemode.switch-session">
    <description>Switch between the desktop and Gamescope sessions</description>
    <message>Authentication is required to switch graphical sessions</message>
    <icon_name>steam</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/cachyos-session-handoff</annotate>
  </action>
</policyconfig>
